<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinmegali.mylocation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".GeofenceTrasitionService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCngeSC6fVS5rwsMFA9kGJK9dih7vVQL6g"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="com.tinmegali.mylocation.GeofenceReceiver" android:exported="false"></receiver>
        <intent-filter >
            <action android:name="com.example.ACTION_RECEIVE_GEOFENCE"/>
        </intent-filter>
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>